<div class="mt-5"></div>
<div class="container" *ngFor="let event of events; let i = index">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="card card-bg">
        <h5 class="card-header card-bg-dark">{{event.progress_date}}</h5>
        <div class="card-body">
          <h5 class="card-title">{{event.progress_title}}</h5>
          <p class="card-text">{{event.progress_details}}</p>
          <button *ngIf="isAdmin" type="button" class="btn btn-danger mr-3" (click)="onSubmit($event, name.id)">Delete</button>
        </div>
      </div>
      <div class="col-6">
        <div class="vertical-line" *ngIf="i +1 !== events.length"></div>
      </div>
    </div>
  </div>
</div>
