p, h1 {
  color: #ececec;
}

.yellow {
  color: rgb(194, 194, 2);
  // font-weight: bold;
}

p, .yellow {
  font-size: 1.5rem;
}

.name-display {
  height: 3rem;
  border-bottom: 1px #ececec solid;
}
.no-side-scroll{
  overflow-x: hidden;
}
