<div class="wrapper" *ngIf="isAdmin">
  <div class="section mt-5">
    <h1 class="text-center">Add A Progress Item</h1>
    <div class="d-flex justify-content-center align-items-center my-2 h-100">
      <form name="babyNameForm" class="w-50">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" name="title" class="form-control" [(ngModel)]="progressTitle" id="title"
            placeholder="Title">
        </div>
        <div class="form-group">
          <label for="details">Details</label>
          <input type="text" name="details" class="form-control" [(ngModel)]="progressDetails" id="details"
            placeholder="Details">
        </div>
        <div class="form-group">
          <label for="date">Progress Date:</label>
          <input type="date" [(ngModel)]="progressDate" id="date" name="date">
        </div>
        <div class="form-group d-flex justify-content-center align-items-center">
          <button type="button" class="btn btn-info" (click)="onSubmit($event)">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div class="section">
    <form>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" [(ngModel)]="activeAnnouncements" (change)="onChange($event, 'activeAnnouncements')" name="announcementsCheck" id="announcementsCheck">
        <label class="form-check-label" for="announcementsCheck">Announcements</label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" [(ngModel)]="activeEvent" name="eventsCheck" (change)="onChange($event, 'activeEvent')" class="form-check-input" id="eventsCheck">
        <label class="form-check-label" for="eventsCheck">Events</label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" [(ngModel)]="activeProgress" name="progressCheck" (change)="onChange($event, 'activeProgress')" class="form-check-input" id="progressCheck">
        <label class="form-check-label" for="progressCheck">Progress</label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" [(ngModel)]="activeName" name="nameCheck" (change)="onChange($event, 'activeName')" class="form-check-input" id="nameCheck">
        <label class="form-check-label" for="nameCheck">Name Suggested</label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" [(ngModel)]="activeGender" name="genderCheck" (change)="onChange($event, 'activeGender')" class="form-check-input" id="genderCheck">
        <label class="form-check-label" for="genderCheck">Gender Reveal</label>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-info" (click)="onSave($event)">Save</button>
      </div>
    </form>
  </div>
  <div class="section">
    <h1 class="text-center">Add A Photo</h1>
  </div>
  <div class="section">
    <h1 class="text-center">Add An Event Item</h1>
  </div>
  <div class="section">
    <h1 class="text-center">Add An Announcement Item</h1>
  </div>
</div>
