<div class="wrapper" *ngIf="isAdmin">
  <div class="d-flex justify-content-center align-items-center h-100">
    <form name='babyNameForm' class='w-50'>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control" [(ngModel)]="progressTitle" id="title"
          placeholder="Title">
      </div>
      <div class="form-group">
        <label for="details">Details</label>
        <input type="text" name="details" class="form-control" [(ngModel)]="progressDetails" id="details"
          placeholder="Details">
      </div>
      <div class="form-group">
        <label for="date">Progress Date:</label>
        <input type="date" [(ngModel)]="progressDate" id="date" name="date">
      </div>
      <div class="form-group d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-info" (click)="onSubmit($event)">Submit</button>
      </div>
    </form>
  </div>
</div>
