<div class="alert alert-danger mb-0 text-center alert-custom" role="alert" *ngIf="revealGender">
  <strong>The Gender Reveal Is Coming Soon! </strong><a href="/gender-reveal" class="alert-link">Click Here</a> to go the gender reveal page.
</div>
<div class="wrapper">
  <div class="section">
    <div class="section-0 h-100">
      <div class="container h-100">
        <div class="row h-100">
          <div class="container">
            <div class="col-12 d-flex justify-content-center flex-column h-100">
              <h2 class="baby-title">A New Enand Is Coming</h2>
              <h3 class="text-right">September 2021</h3>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="section-1 h-100" routerLink="/photos">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-12 d-flex justify-content-center align-items-center">
            <h1 class="baby-title">PHOTOS</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="section-2 h-100" routerLink="/progress">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-12 d-flex justify-content-center align-items-center">
            <h1 class="baby-title">PROGRESS</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
