$height: calc(33vh - 18px);
.section{
  min-height: $height;
  overflow: hidden;
}
.section-0 {
  height: $height;
  background-color: black;
  color: #f2a365;
}
.section-1 {
  background-image: url('https://i.ytimg.com/vi/msjJIQ_xd5Y/maxresdefault.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: $height;
  background-color: transparent;
  color: #f2a365;
  transition: all .2s ease-in-out;
}
.section-2 {
  background-image: url('https://i.ytimg.com/vi/msjJIQ_xd5Y/maxresdefault.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: $height;
  background-color: transparent;
  color: #f2a365;
  transition: all .2s ease-in-out;
}
.section:hover .section-1,
.section:focus .section-1,
.section:hover .section-2,
.section:focus .section-2{
  cursor: pointer;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}
.baby-title {
  font-weight: bold;
}
.right {
  text-align: right;
}
.wrapper {
}
