<div class="section">
  <div class="section-1">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 d-flex justify-content-center align-items-center">
          <h1 class="baby-title">PHOTOS</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="section-2">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 d-flex justify-content-center align-items-center">
          <h1 class="baby-title">PROGRESS</h1>
        </div>
      </div>
    </div>
  </div>
</div>
