$wrapperHeight: calc(100vh - 56px);
$bg-color: #30475e;
.wrapper {
  height: $wrapperHeight;
  overflow: hidden;
}
.section{
  height: 33%;
  min-height: 33%;
  max-height: 33%;
}
.section-0 {
  height: 100%;
  background-color: rgb(24, 24, 24);
  color: #ececec;
}
.section-1 {
  background-image: url('https://i.ytimg.com/vi/msjJIQ_xd5Y/maxresdefault.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-color: rgb(24, 24, 24);
  color: #f2a365;
  transition: all .2s ease-in-out;
}
.section-2 {
  // background-image: url('https://i.ytimg.com/vi/msjJIQ_xd5Y/maxresdefault.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-color: rgb(24, 24, 24);
  color: #f2a365;
  transition: all .2s ease-in-out;
}
.section:hover .section-1,
.section:focus .section-1,
.section:hover .section-2,
.section:focus .section-2{
  cursor: pointer;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}
.baby-title {
  font-weight: bold;
}
.right {
  text-align: right;
}
.alert-custom{
  position: absolute;
  top: 56px;
  left: 2px;
  width: 100%;
  z-index: 1000;
}
