$link-color: #ececec;
.navbar-bg {
  color: $link-color;
  a:link {
    color: $link-color;
  }
  a:visited {
    color: $link-color;
  }
  :not(:first-child) a:hover {
    filter: brightness(70%);
  }
  a:active {
    color: #ececec;
  }
  background-color: #30475e;

}
.text-names{
  color: rgb(0, 217, 255) !important;
  font-weight: bold;
  text-decoration: underline;
}
.text-registry{
  color: rgb(64, 255, 0) !important;
  font-weight: bold;
  text-decoration: underline;
}
