.navbar {
  color: #ececec;
  a:link {
    color: #ececec;
  }
  a:visited {
    color: #ececec;
  }
  a:hover {
    color: #c1c1c1;
  }
  a:active {
    color: #ececec;
  }
  background-color: #30475e;

}
