<div class="row navbar-bg w-100 px-0 mx-0">
  <div class="container">
    <nav class="navbar navbar-bg navbar-expand-sm d-flex justify-content-between">
        <a class="navbar-brand" href="/home">BABY ENAND</a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button> -->

        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item" *ngFor="let link of links">
            <a class="nav-link" [routerLink]="link.url" *ngIf="link.active" [ngClass]="link.class">{{link.title}}</a>
          </li>
        </ul>
    </nav>
  </div>
</div>
