$link-color: #ececec;

.navbar-bg {
  color: $link-color;
  a:link {
    color: $link-color;
  }
  a:visited {
    color: $link-color;
  }
  a:hover {
    filter: brightness(70%);
  }
  a:active {
    color: #ececec;
  }
  background-color: #222831;
}

.text-names{
  color: rgb(0, 217, 255) !important;
  font-weight: bold;
  text-decoration: underline;
}
.text-registry{
  color: rgb(64, 255, 0) !important;
  font-weight: bold;
  text-decoration: underline;
}

.text-gender-reveal{
  color: rgb(255, 25, 0) !important;
  font-weight: bold;
  text-decoration: underline;
}

.stickey {
  position: sticky;
  top: 0;
}

.yellow {
  color: rgb(194, 194, 2) !important;
}
